bokeh==0.12.13
certifi==2018.1.18
click==6.7
cloudpickle==0.5.2
cycler==0.10.0
Cython==0.27.3
dask==0.16.1
decorator==4.2.1
distributed==1.20.2
future==0.16.0
heapdict==1.0.0
imageio==2.2.0
Jinja2==2.10
libtiff==0.4.2
locket==0.2.0
MarkupSafe==1.0
matplotlib==2.1.2
msgpack-python==0.5.1
networkx==2.1
nibabel==2.2.1
numpy==1.14.0
olefile==0.45.1
pandas==0.22.0
partd==0.3.8
Pillow==5.0.0
psutil==5.4.3
pyglet==1.3.1
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyWavelets==0.5.2
PyYAML==3.12
-e git+https://github.com/RivuletStudio/rivuletpy.git@94ffcdabe60c97cec3a3b2b7b3874f9150d61f53#egg=rivuletpy
scikit-fmm==0.0.9
scikit-image==0.13.1
scipy==1.0.0
six==1.11.0
sortedcontainers==1.5.9
tblib==1.3.2
toolz==0.9.0
tornado==4.5.3
tqdm==4.19.5
zict==0.1.3
